{% load static %}
<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Наши бренды</h2>
            <h3 class="section-subheading text-muted">Легенды немецкого автопрома.</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-car fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">BMW</h4>
                <p class="text-muted">Символ драйва и инновационного подхода к вождению.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-star fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Mercedes-Benz</h4>
                <p class="text-muted">Совершенство инженерии и воплощение роскоши на дороге.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-road fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Volkswagen</h4>
                <p class="text-muted">Классика надёжности, проверенная временем.</p>
            </div>
        </div>
    </div>
</section>